<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You are order process....</title>
        {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> --}}
    <link rel="stylesheet" href="css/payment.css">
    <script language="javascript" type="text/javascript">
    function ckval(){
        var checkflag=0;
        if(myForm.phone.value==""){
					alert("Enter Mobile Number");
					return false;
			}
			
		else if(myForm.phone.value.length<10){
					alert("Enter Mobile Number with 10 digits");
					return false;
			}
    	else if(myForm.address.value==""){
					alert("Enter Address");
					return false;
			}
            else{
                alert("Payment Successful!")
            }
}
</script>
</head>
<body>
{{!-- <a href="/product"><button class="btn"><i class="fa fa-home"></i> Home</button></a> --}}
<div class="orderproccess">
    <h1> Process<span class="loader"></span></h1>
  <form name="myForm" method="post" onSubmit="return ckval();">
    <div class="show">
        <div class="inputData">
            <label >Enter  You are phone No.:</label>
            <input type="text"  id="phone" name="phone"  placeholder="Enter Your Phone No......." autoComplete="off">
         </div>
            <div class="inputData">
            <label>Enter You are Address  :</label>
            <textarea name="address" id="address" cols="21" rows="5"  placeholder="Enter You Are Address" autoComplete="off"></textarea>
            </div>
 <a href="/index"> <button id="submit"  class="proccess" name="submit">PAY NOW</button></a>   
   </div>
  </form>
</div>
 
</body>
</html>